* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}


[data-theme="dark"] {
    --background-color: #000000;
    --text-color: #ffffff;
}


[data-theme="light"] {
    --background-color: #ffffff;
    --text-color: #000000;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
}

:root {
    --main-color: rgb(51, 51, 51);
    --secondary-color: rgb(216, 205, 183);
}

.header {
    padding-top: 20px;
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
}

.header_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_list {
    display: flex;
    gap: 88px;
}

.header_link {
    color: var(--text-color);
    font-family: "Poppins";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}


.hero_left_title {
    width: 426px;
    color: var(--text-color);
    font-family: "Poppins";
    font-size: 36px;
    font-weight: 700;
    line-height: 155.2%;
}

.hero_left_text {
    width: 426px;
    color: var(--text-color);
    font-family: "Poppins";
    font-size: 16px;
    font-weight: 500;
    line-height: 200%;
}

.hero_left_button {
    border: none;
    padding: 14px 30px;
    width: 195px;
    border-radius: 40px;
    background: linear-gradient(112.96deg, rgb(250, 131, 5) 1.518%,rgb(251, 158, 60) 117.454%);
    color: var(--text-color);
    font-family: "Poppins";
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}

.left {
    display: flex;
    flex-direction: column;
    gap: 77px;
}

.main {
    display: flex;
    gap: 157px;
}

#lightButton {
    border-radius: 6px;
    background: rgb(251, 152, 47);
    width: 131.77px;
    padding: 10px 27px;
    border: none;
}

#darkButton {
    box-sizing: border-box;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 6px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background: #000000;
    color: #ffffff;
    font-family: Poppins;
    font-size: 13px;
    font-weight: 700;
    line-height: 20px;
    padding: 10px 27px;
}